
.s-right{
        display: flex;  
}
.s-container{
  height: 92vh;
  justify-content: center;
}
#s-vl{
    border-radius:10px; 
    border-left:16px solid orange;
    height:260px;
    margin-left:6rem;
    margin-top:4rem; 
}
#s-im{
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
    border-radius:10px;
    margin-left:13rem;
    position:absolute;
    top:100rem;
}
#s-ig{
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
    border-radius:10px;
    margin-left:6rem;
    position:absolute;
    top:120rem;
}
#s-h1{
    font-size:65px;
    font-weight:100;
    line-height:58px;
    font-family:'Teko', sans-serif;
    position: absolute;
    right: 0;
    margin-right: 20rem;
    top: 100rem;
}
#s-h2{
    font-family:'Teko', sans-serif;
    font-weight:100;
    font-size:26px;
    color:orange;
    position: absolute;
    right: 0;
    width: 35%;
    margin-right: 11.2rem;
    margin-top: -6.5rem;
}
#s-h3{
    font-family:'Rubik', sans-serif; 
    font-weight:100;
    font-size:16px;
    color:gray;
    position: absolute;
    right: 0;
    width: 33%;
    top: 117rem;
    margin-right:13rem;
    line-height: 30px;
}
.s-par3{
    width: 46%;
    font-size:15.5px;
    margin-top:9rem;
    position: absolute;
    right: 0;
    font-family:'Rubik', sans-serif; 
}
#s-pa{
    color:gray;
    line-height:35px;
}
#s-pa1{
    color:gray;
    line-height:35px;
}
#s-pa2{
    color:gray;
    line-height:35px;
}
#s-vi{
    border-right:2px solid orange;
    height:89px;
    position: absolute;right: 0;
    margin-top: 9.6rem;
    margin-right: 22rem;      
}
#s-cir{
    background:black;
    border-radius:50%;
    width:100px;
    height:100px;
    box-shadow:-12px -2px rgb(211,211,211);
    position: absolute;
    right: 0;
    margin-top: 9rem;
    margin-right: 12rem;
    
}
#s-but{
    font-family: 'Teko', sans-serif;
    width: 12.5rem;
    height: 3.8rem;
    background-color: orange;
    border-radius: 8px;
    border: white;
    font-size:22px;
    position:absolute;
    right: 0;
    margin-top: 18.5rem;
    right: 31.5rem;
}
#s-but:hover{
     color: orange;
     background-color: black;
     cursor: pointer;
}

/* Second Section */

#s-he{
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    margin-top:4.5rem;
}
#s-ima{
    width: 75vw;
    height: 68vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2rem;
    border-radius: 15px;
}
#s-te{
    padding-left: 11.5rem;
    margin-top: 6rem;
    width: 35%;
    font-family:'Teko', sans-serif;
    font-size: 70px;
    line-height: 62px;
    font-weight: 500;
}
#s-imge{
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
    padding-left: 11.5rem;
    padding-top: 1rem;
}
#s-para{
      width: 18.5%;
      line-height: 25px;
      font-family: 'Rubik', sans-serif; 
        font-size: 16px;
       color:gray;
       margin-left: 25rem;
       margin-top: -7rem; 
       font-weight: 100;
}
#s-san{
       font-family:'Teko', sans-serif;
       padding-left: 11.4rem;
       padding-top: 2.5rem;
       font-weight: 100;
       font-size: 23px;
}
.s-progress{
    margin-top: 0rem;
}
#s-myProgress{
         height:1rem;  
         width: 30%;
         margin-left: 11.5rem;
    }
 .s-question{
          position: absolute;
          right: 0%;
          margin-top: -22rem;
          padding-right:12rem ;
} 
#s-but1{
           background-color:white;
           width: 30rem;
           height:3.8rem;
           font-family: 'Teko', sans-serif;
           font-size: 21.5px;
           cursor: pointer;
           text-align: left;
           word-spacing: 2.7px;
           /* margin-top: -3rem; */
           border-radius: 10px;
           border:1px black  solid;

  }  
#s-para1{
        font-family: 'Rubik', sans-serif;
        font-weight: 100;
        font-size: 16px;
        background-color: white;
        border-radius: 7px;
        height: 2rem;
        line-height:28px;
        width:31vw;
        display: none;
        color: gray;
        padding-top: .6rem;
        padding-left: .5rem;
        padding-bottom: 1rem;
    }
#s-but2{
         background-color:white;
         width: 30rem;
         height:3.8rem;
         font-family: 'Teko', sans-serif;
         font-size: 21.5px;
         cursor: pointer;
         text-align: left;
         word-spacing: 2.7px;
        /* margin-top: -3rem; */
         border-radius: 10px;
         border:1px black  solid;
         margin-top: 1.5rem; 
    }
#s-para2{
        font-family: 'Rubik', sans-serif;
        font-weight: 100;
        font-size: 16px;
        padding-top: .6rem;
        padding-left: .5rem;
        background-color: white;
        border-radius: 7px;
        height: 3rem;
        line-height: 28px;
        width:31vw;
        display: none;
        color: gray;           
      }
     #s-but3{
       background-color:white;
       width: 30rem;
       height:3.8rem;
       font-family: 'Teko', sans-serif;
       font-size: 21.5px;
       margin-top: 1.5rem;
       cursor: pointer;
       text-align: left;
       word-spacing: 2.7px;
      /* margin-top: -3rem; */
       border-radius: 10px;
       border:1px black  solid;
        
     }
     #s-para3{
            font-family: 'Rubik', sans-serif;
            font-weight: 100;
            font-size: 16px;
            background-color: white;
            border-radius:7px;
            height:6.4rem;
            line-height:28px;
            width:31vw;
            color: gray;
            padding-top: .8rem;
            padding-left: .5rem;
        }
     #s-gi{
            position: absolute;
            right:0%;
            right:35%;
            margin-top: 4rem;
            border-radius: 25px;
            width: 5%;                   
     }
     #s-gi:hover{
         background-color: red;
     }
     #s-ho{
        font-family:'Teko', sans-serif;
        position:absolute;
        right:0;
        padding-right: 14.5rem;
        font-size: 23px;
        margin-top:-11rem;
        color: black;
     }
     #s-ho:hover{
        transform: scale(0.9);
        transition:transform 0.9s ease;
        color:rgb(65, 64, 64);
        }
     
/* Responsive */

@media screen and (max-width:480px){
    
    .s-container{
          height: 220vh;
    }
    .s-img > #s-vl{
          display: none;
    }
    
    #s-im{
          margin-top: 142rem;
          position: absolute;
          margin-left:.3rem;
          width: 95.5vw;
          height:59.5vh;
    }
    #s-ig{
          position: absolute;
          margin-bottom: 2rem;
          margin-left:.3rem;
          width: 95.5vw;
          height: 37vh;
          margin-top: 150rem;
        
    }
    #s-h1{
          font-size:51px;
          font-weight:100;
          line-height:47px;
          width: 95%;
          margin-right: 0.2rem;
          margin-top: 102rem;
    }
    #s-h2{
          margin-top: 9.2rem;
          width: 90%;
          position: absolute;
          left: 0.9rem;        
          font-size: 26.5px;
    }
    #s-h3{
          font-size:16.9px;
          margin-top:215rem;
          width:94.5%;
          position: absolute;
          left: 0.8rem;
    }
    .s-par3{
          width: 98%;
          font-size: 16.9px;
          margin-top: 20rem;
    }
     #s-pa,#s-pa1,#s-pa2{
          margin-left:.4rem;
    } 

    #s-vi{
          margin-top:36rem;
          position: absolute;
          left: 0;
          left: .5rem;
          width: 2%;  
          height: 85px; 
    }
    #s-cir{
          margin-top: 29rem;
          width: 95px;
          height: 95px;
          position: absolute;
          left: 3.3rem;
    }
    #s-but{
          position: absolute;
          top:218rem;  
          left:0;  
          border-radius: 6.5px;
          left:0.9rem;  
          width:12.3rem;
          height:3.4rem;
          font-size:20px;        
    }
    #s-hr{
          display: none;         
    }
    .s-sec{
          height: 241vh;
    }
    #s-he{
          font-size:53px;
          margin-top:-10rem;
    } 
    #s-gi{
          width:15%;
          right:24%;
    } 
    #s-ho{
          font-family:'Teko', sans-serif;
          position:absolute;
          right:0;
          padding-right: 2.3rem;
          font-size: 23px;
          margin-top:-11rem;
          color: black;
     }
     #s-ima{
          width: 92vw;
          height: 70vh;
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-top: 2rem;
          border-radius: 15px;
    }
    #s-te{
          padding-left: 1rem;
          margin-top: 2rem;
          width:85%;
          font-family:'Teko', sans-serif;
          font-size: 42px;
          line-height: 40px;
          font-weight: 100;
    }
    #s-imge{
          -webkit-filter:grayscale(100%);
          filter:grayscale(100%);
          padding-left: .8rem;
          padding-top: 2rem;
          width: 92vw;
          border-radius: 5px;
    }
    #s-para{
          width: 92%;
          line-height: 34px;
          font-family: 'Rubik', sans-serif; 
          font-size: 16.5px;
          color:gray;
          margin-left: 0.8rem;
          margin-top: 1.6rem;
          font-weight: 100;
    }
    #s-san{
          font-family:'Teko', sans-serif;
          padding-left:0.8rem;
          padding-top:2rem;
          font-weight:100;
          font-size:23px;
    }
    #s-myProgress{
          height:1rem;  
          width:90%;
          margin-left:.8rem;
    }
    .s-progress > #s-abc{
            margin-left:-10.5rem;
    }
    .s-question{
        margin-top: 3rem;
        position: absolute;
        left: 0.8rem;
    }
    #s-but1{
        width: 23.5rem; 
        height: 4.5rem;
        font-family: 'Teko', sans-serif;
        font-size: 24px;
        cursor: pointer;
        text-align: left;
        border-radius: 5px;
    }
    #s-plus1{
        margin-left: 7rem;
        position: absolute;
        top: 1.5rem;
    }
    #s-para1{
        height: 5rem;
        line-height:32px;
        width:80vw;
        display: none;
        color: gray;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-bottom: 1rem;
        font-size: 18px;
    }
    #s-but2{
        width: 23.5rem; 
        height: 4.5rem;
        font-family: 'Teko', sans-serif;
        font-size: 24px;
        cursor: pointer;
        text-align: left;
        border-radius: 5px;
    }
    #s-plus2{
        margin-left: 4rem;
        position: absolute;
        margin-top: -1rem;
    }
    #s-para2{
        height:5rem;
        line-height:32px;
        width:80vw;
        display:none;
        color:gray;
        padding-top:1rem;
        padding-left:1.5rem;
        padding-bottom:1rem;
        font-size:18px;
    }
    #s-but3{
        width:23.5rem; 
        height:4.5rem;
        font-family:'Teko', sans-serif;
        font-size:24px;
        cursor:pointer;
        text-align:left;
        border-radius:5px;
    }
    #s-plus3{
        margin-left:8.1rem;
        position:absolute;
        margin-top:-1rem;
    }
    #s-para3{
        height:5rem;
        line-height:32px;
        width:80vw;
        color:gray;
        padding-top:1rem;
        padding-left:1.5rem;
        padding-bottom:1rem;
        font-size:18px;
    }
}